@charset "utf-8";

/* common style */
.inner {
    width: 1172px;
    margin: 0 auto;
}

/* top btn style */
.top_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #1c236c;
    z-index: 200;
    cursor: pointer;
}

.top_btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
}

/* quick_menu start */
.quick_menu {
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

/* quick_menu menu_btn */
.quick_menu .menu_btn {
    float: left;
}

.quick_menu .menu_btn a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 44px;
    background: #eee;
}

.quick_menu .menu_btn img {
    padding-left: 18px;
}

/* quick_menu logo */
#logo {
    float: left;
    margin-left: 20px;
}

#logo h1 {
    line-height: 50px;
}

#logo h1 a {}

#logo h1 a img {
    width: 108px;
    vertical-align: middle;
    transform: translateY(-11%);
}

/* quick_menu menu */
.quick_menu .menu {
    float: right;
}

.quick_menu .menu ul {
    overflow: hidden;
}

.quick_menu .menu ul li {
    float: left;
    border-left: 1px solid #ccc;
}

.quick_menu .menu ul li:last-child {
    background: #eee;
    border-right: 1px solid #ccc;
}

.quick_menu .menu ul li a {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
}

.quick_menu .menu ul li a img {
    margin-bottom: 4px;
}

/* quick_menu end */

/* footer start */
footer {
    height: 60px;
    background: #1c236c;
}

/* footer ftop start */
footer .ftop {
    overflow: hidden;
    height: 60px;
}

footer .ftop .item {
    width: 33.3333%;
    float: left;
    line-height: 60px;
}

footer .ftop .item .select_box {
    float: left;
    width: calc(100% - 60px);

}

footer .ftop .item .select_box select {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    box-sizing: border-box;
    border-left: 1px solid #444;
    appearance: none;
    color: white;

    background: url('../img/common/select_icon.png') no-repeat;
    background-position: 95% center;
}

footer .ftop .item .select_box select option {
    background: #1c236c;
}

/* ftop item GO btn */
footer .ftop .item .seleted_btn {
    float: left;
    width: 60px;
}

footer .ftop .item .seleted_btn a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    background: #111542;
}

/* footer ftop end */

/* footer bottom start */
.fbottom {}

.fbottom .fb_top {
    overflow: hidden;
    height: 100px;
    border-bottom: 1px solid #ccc;

}

/* footer logo */
.fbottom .fb_top .footer_logo {
    float: left;
    width: 16%;
}

.fbottom .fb_top .footer_logo h2 {}

.fbottom .fb_top .footer_logo h2 a {
    line-height: 100px;
}

.fbottom .fb_top .footer_logo h2 a img {}

/* fbottom fb_menu */
.fbottom .fb_top .fb_menu {
    float: left;
    width: 60%;
}

.fbottom .fb_top .fb_menu ul {
    overflow: hidden;
}

.fbottom .fb_top .fb_menu ul li {
    position: relative;
    float: left;
}

.fbottom .fb_top .fb_menu ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 2px;
    height: 2px;
    background: #666;
}

/* fb_menu after display none */
.fbottom .fb_top .fb_menu ul li:nth-child(3):after,
.fbottom .fb_top .fb_menu ul li:nth-child(6):after {
    display: none;
}

.fbottom .fb_top .fb_menu ul li a {
    font-size: 14px;
    margin: 0 10px;
    line-height: 100px;
}

.fbottom .fb_top .fb_menu ul li a strong {
    color: #1c236c;
}

/* fb_link */
.fbottom .fb_top .fb_link_img {
    float: right;
    margin-top: 29px;
}

.fbottom .fb_top .fb_link_img a {}

.fbottom .fb_top .fb_link_img a img {
    float: left;
    width: 60%;
}

.fbottom .fb_top .fb_link_img a:nth-child(1) img {
    width: 116px;
}

.fbottom .fb_top .fb_link_img a:nth-child(2) img {
    width: 70px;
    margin-left: 14px;
}

/* fbottom .info */
.fb_bottom {
    overflow: hidden;
    height: 80px;
    line-height: 80px;
}

.fb_bottom .info {
    float: left;
}

.fb_bottom .info span {
    font-size: 13px;
}

.fb_bottom .info span a {}

/* fb_bottom .copyright */
.fb_bottom .copyright {
    float: right;
}

.fb_bottom .copyright span {
    font-size: 13px;
}

/* footer end */