@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
}

input,
button,
select {
    outline: none;
    border: none;
    background: none;
}

address {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

em {
    font-style: normal;
}