@charset "utf-8";

/* .bottom slider common style */
#main_banner .mb_left .bottom {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#main_banner .mb_left .bottom .slider_area {
    height: 446px;
}

.swiper-slide img {
    width: 100%;
    height: 400px;
}

/* swiper btn_wrap */
.swiper_btn_wrap {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 10px;
}

.swiper_btn {
    position: relative;
    float: left;
    width: 50%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: white;
    background: #0a115f;
    cursor: pointer;
}

.triangle {
    position: absolute;
    border: 20px solid transparent;
    border-top-width: 0;
    border-bottom-color: #0a115f;
    transform: scaleX(60%);
    left: 44%;
    top: -20px;
    z-index: 20;
}

/* second_btn style */
.swiper_btn.second_btn {
    width: 50%;
    background: #0070bc;
    color: white
}

.second_btn .triangle {
    display: none;
    border-bottom-color: #0070bc;
}

.swiper_btn.second_btn .second-pagination {
    display: none;
}

/* swiper-button-play common style */
.swiper-button-play {
    position: absolute;
    right: 14px;
    bottom: 2px;
    cursor: pointer;
}

.swiper-button-play img {
    width: 60%;
}

.swiper_btn.second_btn .second-play {
    display: none;
}

/* swiper next btn */
.swiper-button-next,
.swiper-button-prev {
    top: 55%;
    background: none;
}

.swiper-button-next img,
.swiper-button-prev img {
    width: 10px;
    padding: 10px 12px;
    background: rgba(0, 0, 0, 0.5);
}

/* swiper next btn */
.swiper-button-next {
    right: 7px;
}

/* swiper prev btn */
.swiper-button-prev {
    left: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    width: 10%;
    font-size: 13px;
    left: 280px;
    bottom: 0;
}

/* swiper end */