@charset "utf-8";

/* .bottom slider common style */
#main_banner .mb_left .bottom {}

#main_banner .mb_left .bottom .slider_area {
    overflow: hidden;
    height: 446px;
    margin-top: 26px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.off {
    display: none;
}

.swiper-container {
    overflow: hidden;
}

.swiper-slide {
    overflow: hidden;
    /* height: 400px; */
}

.swiper-slide img {
    width: 100%;
    height: 400px;
}

/* swiper btn_wrap */
.swiper_btn_wrap {
    position: relative;
    float: left;
    width: 50%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: white;
    background: #0a115f;
    cursor: pointer;
}

.swiper_btn_wrap:after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top-width: 0;
    border-bottom-color: #0a115f;
    transform: scaleX(60%);
    left: 44%;
    top: -20px;
    z-index: 20;
}

.swiper_btn_wrap.second_btn {
    width: 50%;
    background: #0070bc;
    color: white
}

.swiper_btn_wrap.second_btn:after {
    display: none;
}

/* swiper next btn */
.swiper-button-next,
.swiper-button-prev {
    background: none;
}

.swiper-button-next img,
.swiper-button-prev img {
    width: 10px;
    padding: 10px 12px;
    background: rgba(0, 0, 0, 0.5);
}

/* swiper next btn */
.swiper-button-next {
    right: 6px;
}

/* swiper prev btn */
.swiper-button-prev {
    left: 0;
}

.swiper_btn_wrap>span {
    font-size: 16px;
    font-weight: 400;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    width: 10%;
    font-size: 13px;
    left: 280px;
    bottom: 0;

}

.swiper-button-play {
    position: absolute;
    right: 14px;
    bottom: 2px;
    cursor: pointer;
}

.swiper-button-play img {
    width: 60%;
}

/* main_slider02 style */
.main_slider02 {}

.main_slider02 .swiper_btn_wrap {
    /* background: #0070bc; */
}

.main_slider02 .swiper_btn_wrap:after {
    display: none;
}

.main_slider02 .first_btn {
    background: #0a115f;
}

.main_slider02 .second_btn {
    position: relative;
}

.main_slider02 .second_btn::before {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top-width: 0;
    border-bottom-color: #0070bc;
    transform: scaleX(60%);
    left: 44%;
    top: -20px;
    z-index: 20;
}

.main_slider02 .swiper_btn_wrap span {}

.main_slider02 .swiper_btn_wrap span {}


/* swiper end */